.body {
    background-color: #2A2C2F;
    color: #fff;
    font-family: 'Inter';
    width: 100%;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr 42px;
    grid-template-areas: 
        ". header ."
        ". lead ."
        ". intro ."
        ". photo-grid ."
        ". places ."
        ". cover ."
        ". footer .";
}

@media (max-width: 768px) {
    .body {
        grid-template-columns: 24px 1fr 24px;
    }
}
@media (max-width: 320px) {
    .body {
        grid-template-columns: 16px 1fr 16px;
        grid-template-rows: 58px 1fr 1fr 1fr 1fr 1fr 42px;
    }
}