@import url("./__content/cover__content.css");
@import url("./__link/cover__link.css");
@import url("./__image/cover__image.css");


.cover {
    grid-row: 6;
    grid-column: 2;
    grid-area: cover;
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    margin: 92px 0;
}

@media (max-width: 1080px) {
    .cover {
        grid-column: 1/ 4;
    }
}
@media (max-width: 768px) {
    .cover {
        margin: 88px 0;
    }
}
@media (max-width: 320px) {
    .cover {
        margin: 64px 0;
    }
}