.lead__subtitle {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    color: #fff;
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
    max-width: 640px;
    max-height: 72px;
    margin: 32px 0 auto;
}

@media (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 280px;
        max-height: 40px;
    }
}